sudo: required

language: java

jdk:
  - oraclejdk8

services:
  - docker

before_install:
  - echo "before_install"

before_script: ./before_build.sh

after_success:
  - docker build -t xtaodocker/cd .
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
      docker images;
      docker push xtaodocker/cd;
    fi

deploy:
  provider: script
  skip_cleanup: true
  script: ssh -o StrictHostKeyChecking=no root@120.77.236.201 ./root/apps/deploy.sh
  on:
    branch: master

after_deploy: ./health_check.sh