sudo: required

language: java

jdk:
  - oraclejdk8

services:
  - docker

after_success:
  - docker build -t xtaodocker/cd .
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="xtaodocker" -p="xutao205320085";
      docker images;
      docker push xtaodocker/cd;
      fi